/* Trong file report-by-year.component.css */

.chart-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* căn giữa ngang */
  gap: 30px;
}

.chart-container {
  width: 100%;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.total-value-box {
  padding: 20px 30px;
  background-color: #e6ffed;
  border: 2px solid #2f855a;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #2f855a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 350px;
  width: fit-content;
}

.total-value-box .label {
  text-transform: uppercase;
}

.total-value-box .value {
  font-size: 26px;
  color: #1a202c;
}

.filter-box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.filter-dropdown {
  min-width: 150px;
}
