<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img [src]="imageUrl" alt="Avatar" class="personal-image" />
      <p class="sidebar-name">Trần Nguyễn Vỹ</p>
    </div>

    <nav class="sidebar-menu">
      <ul>
        <li>
          <a routerLink="/inventory/personal-info">Personal Information</a>
        </li>
        <li>
          <a routerLink="/inventory/inventory-management"
            >Inventory Management</a
          >
        </li>
        <li>
          <a routerLink="/inventory/product-management"> Product Management </a>
        </li>
        <li>
          <a routerLink="/inventory/stocking-search"> Stocking Search </a>
        </li>
        <li>
          <a routerLink="/inventory/order-management"
            >Inventory Order Management</a
          >
        </li>
        <li>
          <a routerLink="/inventory/importing-form-management">
            Importing Form Management
          </a>
        </li>
        <li>
          <a routerLink="/inventory/exporting-form-management">
            Exporting Form Management
          </a>
        </li>
        <li class="has-submenu" [class.open]="isAnalysisOpen">
          <div
            class="submenu-toggle"
            (click)="isAnalysisOpen = !isAnalysisOpen"
          >
            <span class="icon material-icons">analytics</span>
            Analysis
          </div>
          <ul class="submenu" *ngIf="isAnalysisOpen">
            <li>
              <a routerLink="/inventory/analysis/restock-suggestion">
                <span class="icon material-icons">refresh</span>
                Restock Suggestion
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/sale-of-point"> Sale Of Point </a>
        </li>
        <li class="has-submenu" [class.open]="isReportOpen">
          <div class="submenu-toggle" (click)="isReportOpen = !isReportOpen">
            <span class="icon material-icons">bar_chart</span>
            Report
          </div>
          <ul class="submenu" *ngIf="isReportOpen">
            <li>
              <a routerLink="/inventory/report/sales-revenue">
                <span class="icon material-icons">trending_up</span>
                Sales Revenue
              </a>
            </li>
            <li>
              <a routerLink="/inventory/report/stock-revenue">
                <span class="icon material-icons">trending_up</span>
                Stock Revenue
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="onLogoutClick()">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main content -->
  <div class="main-content">
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      <p>&copy; 2025 VyTran. All rights reserved.</p>
    </footer>
  </div>

  <app-warning-modal
    [visible]="is_open_modal"
    [message]="message"
    [title]="title"
    (confirm)="onConfirm()"
    (cancel)="onCancel()"
  >
  </app-warning-modal>
</div>
