@if(isLoading){
<app-loading></app-loading>
<app-message-modal
  *ngIf="isOpenMessageModal"
  [title]="title"
  [message]="message"
  (closed)="onCloseMessageModal()"
></app-message-modal>
}@else{
<mat-card *ngIf="form">
  <div class="header-row">
    <!-- Left: Only Stock-in Ref. No. -->
    <div class="left-section">
      <div>
        <strong>Stock-in Ref. No.</strong> <br />
        @if(form.code != null){

        {{ form.code }}
        }
      </div>
    </div>

    <!-- Right: Other info -->
    <div class="right-section">
      <div>
        <strong>Line Items</strong> <br />
        {{ form.line_items }}
      </div>
      <div>
        <strong>Staff</strong> <br />
        <a>{{ form.employee }}</a>
      </div>
      <div>
        <strong>Date/Time Created</strong> <br />
        {{ form.created_at | date : "dd MMM HH:mm" }}
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="form.details"
      class="mat-elevation-z1"
      style="width: 100%"
    >
      <!-- SKU -->
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef>Product Name / SKU</th>
        <td mat-cell *matCellDef="let row">{{ row.sku }}</td>
      </ng-container>

      <!-- Quantity -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <!-- Cost Price -->
      <ng-container matColumnDef="costPrice">
        <th mat-header-cell *matHeaderCellDef>Cost Price</th>
        <td mat-cell *matCellDef="let row">{{ row.cost_price | currency }}</td>
      </ng-container>

      <!-- Total Cost Price -->
      <ng-container matColumnDef="totalValues">
        <th mat-header-cell *matHeaderCellDef>Total Values</th>
        <td mat-cell *matCellDef="let row">
          {{ row.total_value | currency }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
}
