<div class="tab-nav-wrapper">
  <nav mat-tab-nav-bar>
    @for (tab of tabs; track $index) {
    <a
      mat-tab-link
      [active]="selectedIndex === $index"
      (click)="selectedIndex = $index"
    >
      {{ tab.label }}
    </a>
    }
  </nav>
</div>

<div class="tab-content-wrapper">
  <ng-container>
    @switch (selectedIndex) { @case(0){
    <div>
      <app-overview-product [productId]="productId"></app-overview-product>
    </div>
    } @case (1) {
    <div>
      <app-product-variants [productId]="productId"></app-product-variants>
    </div>
    } @case (2) {
    <div>
      <app-product-images [productId]="productId"></app-product-images>
    </div>
    } @case (3) {
    <div>
      <app-product-inventory [productId]="productId"></app-product-inventory>
    </div>
    } }
  </ng-container>
</div>
