<h2 class="form-title">Change Password</h2>

<form class="change-password-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Old Password</mat-label>
    <input matInput type="password" formControlName="oldPassword" />
    @if(form.get('oldPassword')?.invalid && form.get('oldPassword').touched){
    <div class="error-input-message">
      @if(form.get('oldPassword')?.errors?.['required']){
      <p>Old Password is required</p>
      } @if(form.get('oldPassword')?.errors?.['minlength']){
      <p>Old Password must have at least 5 characters</p>
      }
    </div>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" />
    @if(form.get('newPassword')?.invalid && form.get('newPassword').touched){
    <div class="error-input-message">
      @if(form.get('newPassword')?.errors?.['required']){
      <p>New Password is required</p>
      } @if(form.get('newPassword')?.errors?.['minlength']){
      <p>New Password must have at least 5 characters</p>
      } @if(form.get('newPassword')?.errors?.['weakPassword']){
      <p>New Password must have upper character, digits and special letter</p>
      }
    </div>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
    />@if(form.get('confirmPassword')?.invalid &&
    form.get('confirmPassword').touched){
    <div class="error-input-message">
      @if(form.get('confirmPassword')?.errors?.['required']){
      <p>Comfirm Password is required</p>
      }
    </div>
    }
  </mat-form-field>

  <button
    [disabled]="form.invalid || isProcessing"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Submit
  </button>
  @if(form.errors?.['passwordMismatch'] && form.get('confirmPassword').touched){
  <div class="error-input-message">
    <p>Confirm Password is not match with new password</p>
  </div>
  }
</form>

@if(isOpenMessageModal){
<app-message-modal
  [title]="title"
  [message]="message"
  (closed)="closeMessageModal()"
></app-message-modal>
}
